body {
  margin: 0;
  border: 0;
  background: #eae2b7;
}

/*navigation bar*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #003049;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a.active {
  color:black;
  background-color: #eae2b7;
}
.navbar a:hover {
  background-color: #f2f2f2;
  color: black;
}

/*The first page of the website*/
.para {
  margin: 0;
}
.intro-para {
  margin-top: 40px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.picture {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #fcbf49;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.intro {
  margin-top: 150px;
  margin-left: 350px;
  color: #003049;
}

/*About Me Page*/
/*Primary School*/
.ZHPStitle {
  display: flex;
  flex-shrink: 6;
  margin-top: 200px;
  margin-bottom: 0px;
  justify-content: center;
  font-size: 40px;
}
.ZHPScontainer {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ZHPSimg {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #fcbf49;
  display: flex;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.ZHPSpara {
  margin-top: 50px;
  margin-left: 150px;
  height: 120px;
  font-size: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #003049;
}
/*Secondary School*/
.QSStitle {
  display: flex;
  flex-shrink: 6;
  margin-top: 200px;
  margin-bottom: 0px;
  justify-content: center;
  font-size: 40px;
}
.QSScontainer {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.QSSimg {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #fcbf49;
  display: flex;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.QSSpara {
  margin-top: 100px;
  margin-left: 150px;
  height: 120px;
  font-size: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #003049;
}