body {
  margin: 0;
  border: 0;
  background: #eae2b7;
}
.para {
  margin: 0;
}
.intro-para {
  margin-top: 40px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.picture {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #fcbf49;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.intro {
  margin-top: 150px;
  margin-left: 350px;
  color: #003049;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #003049;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a.active {
  color:black;
  background-color: #eae2b7;
}
.navbar a:hover {
  background-color: #f2f2f2;
  color: black;
}
.aboutcontainer {
  margin-top: 40px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ZHPS {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #fcbf49;
  display: flex;
  border-radius: 30px;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}