body{
  margin: 0;
  border: 0;
}
.flex-container1 {
    background: #003049;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .picture{
    margin: 20px;
    border: 3px solid #d62828;
    display: flex;
    align-items: flex-end;
  }
  .intro{
    color: #fcbf49;
  }
