body {
  margin: 0;
  border: 0;
  background: #eae2b7;
}

/*navigation bar*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #003049;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a.active {
  color: black;
  background-color: #eae2b7;
}
.navbar a:hover {
  background-color: #f2f2f2;
  color: black;
}

/*The first page of the website*/
.para {
  margin: 0;
}
.intro-para {
  margin-top: 40px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.picture {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #fcbf49;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.intro {
  margin-top: 90px;
  margin-left: 250px;
  color: #003049;
}

/*About Me Page*/
.title {
  display: flex;
  flex-shrink: 6;
  margin-top: 70px;
  margin-bottom: 0px;
  justify-content: center;
  font-size: 40px;
}
.schoolcontainer {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.ZHPSimg {
  margin: 0;
  border: 3px solid #fcbf49;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.QSSimg {
  background-color: white;
  margin: 0;
  border: 3px solid #fcbf49;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.NPimg {
  background-color: white;
  margin: 0;
  border: 3px solid #fcbf49;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.imgwrap {
  position: relative;
}
.imgdesc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
/* Skills */
.SkillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Skilltitle {
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 28px;
}
.ListContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
ul {
  font-size: 20px;
}
/* Interests */
.InterestContainer {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tkdimg {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
  border: 3px solid #fcbf49;
}
.interestpara {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 20px;
}
